doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ./about.html
        link(rel="stylesheet", href="/css/index.css")
    body 
        include partials/nav

        div#main
            div#heading
                p ./about

            div
                h2 links
                ul 
                    li 
                        p GitHub: 
                            a(href="https://github.com/ironveil") ironveil