nav
    p.title ironveil.cloud
    ul
        li
            a(href="/") ./home 
        li
            a(href="/projects") ./projects/all
        li
            a(href="/blog") ./blog/all
        li
            a(href="/about") ./about